################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
/Gomukia/.vs/Gomukia/v15
/Gomukia/Debug
